html,
body {
  padding: 0;
  margin: 0;
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.6;
  font-size: 18px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

a {
  color: #b200f3;
  text-decoration: none;
}

a:hover {
  color: #d333c3;
}

img {
  max-width: 100%;
  display: block;
}

.cardImage:hover {
  opacity: 0.6;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 10px;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
